<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyDB" connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=MyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Budget" connectionString=" Data Source=TOWHID\SQLEXPRESS;Initial Catalog=budget;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Financepal.Properties.Settings.MyDBConnectionString1"
      connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=MyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Financepal.Properties.Settings.BtConnectionString"
      connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=Bt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="expense" connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=Expense;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Accounts
		 "
      connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=Accounts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Financepal.Properties.Settings.budgetConnectionString"
      connectionString="Data Source=TOWHID\SQLEXPRESS;Initial Catalog=budget;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>